<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>JDBCQueryDemo</display-name>
    <servlet-name>JDBCQueryDemo</servlet-name>
    <servlet-class>com.simpli.JDBCQueryDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCQueryDemo</servlet-name>
    <url-pattern>/query-demo</url-pattern>
  </servlet-mapping>
  <display-name>JDBCQueryDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JDBCInsertDemo</display-name>
    <servlet-name>JDBCInsertDemo</servlet-name>
    <servlet-class>com.simpli.JDBCInsertDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCInsertDemo</servlet-name>
    <url-pattern>/insert-demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreparedStatementInsertDemo</display-name>
    <servlet-name>PreparedStatementInsertDemo</servlet-name>
    <servlet-class>com.simpli.PreparedStatementInsertDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreparedStatementInsertDemo</servlet-name>
    <url-pattern>/prepared-statement-insert-demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallableStatementInsertDemo</display-name>
    <servlet-name>CallableStatementInsertDemo</servlet-name>
    <servlet-class>com.simpli.CallableStatementInsertDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallableStatementInsertDemo</servlet-name>
    <url-pattern>/callable-statement-insert-demo</url-pattern>
  </servlet-mapping>
</web-app>