 <p style="text-align: center;" [class]="titleType==='BIG' ? 'bigheading' : 'mediumheading'" > {{ title}} </p> 

 <br>
 <productlist-v1></productlist-v1>
 
 <br>
 <product></product>

 <br>

 <product-v1 name="HP Mouse" image="../../assets/images/HPMouse.JPG" price="250" [inStock]="inStockValFromParent"></product-v1>

 <product-v1 name="Apple iPhone" image="../../assets/images/Apple-Phone.JPG" price="42050"></product-v1>


 <product-v1 name="Dell Monitor" image="../../assets/images/dell.JPG" price="30000"></product-v1>

 <product-v1></product-v1>