<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.simpli.HelloWorld</servlet-class>
    <init-param>
      <param-name>dbusername</param-name>
      <param-value>santosh</param-value>
    </init-param>
    <init-param>
      <param-name>dbpassword</param-name>
      <param-value>453fae$$</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HW</url-pattern>
  </servlet-mapping>
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLoginFormProcessingServlet</display-name>
    <servlet-name>UserLoginFormProcessingServlet</servlet-name>
    <servlet-class>com.simpli.UserLoginFormProcessingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginFormProcessingServlet</servlet-name>
    <url-pattern>/UserLoginFormProcessingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SomeServlet</display-name>
    <servlet-name>SomeServlet</servlet-name>
    <servlet-class>com.simpli.SomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SomeServlet</servlet-name>
    <url-pattern>/SomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.simpli.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/HeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FooterServlet</display-name>
    <servlet-name>FooterServlet</servlet-name>
    <servlet-class>com.simpli.FooterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FooterServlet</servlet-name>
    <url-pattern>/FooterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VotingDecisionServlet</display-name>
    <servlet-name>VotingDecisionServlet</servlet-name>
    <servlet-class>com.simpli.VotingDecisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotingDecisionServlet</servlet-name>
    <url-pattern>/VotingDecisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VotingPossibleServlet</display-name>
    <servlet-name>VotingPossibleServlet</servlet-name>
    <servlet-class>com.simpli.VotingPossibleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotingPossibleServlet</servlet-name>
    <url-pattern>/VotingPossibleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VotingNotPossibleServlet</display-name>
    <servlet-name>VotingNotPossibleServlet</servlet-name>
    <servlet-class>com.simpli.VotingNotPossibleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotingNotPossibleServlet</servlet-name>
    <url-pattern>/VotingNotPossibleServlet</url-pattern>
  </servlet-mapping>
</web-app>