<!-- <div style="border: 2px solid green;"> -->

    List of Products on sale (from spring boot rest api server)

    <div *ngIf="products.length>0;else elseBlock">
        <table class="table" border="2" style="border-color: blueviolet;" >
    
            <thead>
                <tr>
                    <th>Sl No</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th> DELETE </th>
                </tr>
            </thead>
    
            <tr *ngFor="let prod of products; index as i">
                <td> {{i+1}}</td>
                <td> {{prod.name}}</td>
                <td> {{prod.price}}</td>
                <td> <button class="btn btn-primary"  (click)="deleteProduct(prod.id)" > DELETE </button></td>
            </tr>
    
        </table>
    </div>
     
    <ng-template #elseBlock> No products on Sale!! Visit a day later. </ng-template >
    
    <!-- </div> -->