<div style="border: 2px dotted rgb(0, 102, 255);">

    <!-- <p> Name : {{ product.productName }}</p>
    <p> <img src="{{product.productImage}}" width="200" height="200"></p>
    <p> Price : {{ product.price }}</p> -->



    <br>Property Binding Demo<br>
    <p> Name : {{ product.productName }}</p>
    <p> <img [src]="product.productImage" width="200" height="200"></p>
    <span [style.background-color]="product.price > 1000?'YELLOW':'LIGHTGREEN'" > Price : {{ product.price }}</span>
    <p [style.color]="product.productInStock?'GREEN':'RED'" > In Stock : {{ product.productInStock }}</p>

    <button (click)="addLike()" > LIKE </button>
    <br> No of Likes so far : {{ noOfLikes }}

    <br> Rate this Product now (current rating : {{ rating }}):
    <button (click)="rate($event)" id="rate1"> 1 </button>
    <button (click)="rate($event)" id="rate5"> 5 </button>

    <br> <br>CHILD PARENT COMM DEMO
    <button (click)="callParentForMoney()" > CALL PARENT FOR MONEY </button>
   

</div>